<div class="jumbotron text-center mt-3 mx-0 mb-0">
    <p>
        <strong>Créée par:</strong>
        <%= @conversation.user.username %>
    </p>
    <p>
        <strong>Nom du groupe:</strong>
        <%= @conversation.name %>
    </p>
</div>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		
	});
</script>